################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Maruwa_Emgmt/bin/Debug/net8.0/Logs
/Maruwa_Emgmt/Models/tblempmaster.cs
/Maruwa_Emgmt/Properties/PublishProfiles
